var path = require('path');
var webpack = require("webpack");

module.exports = {
  entry: '../src/index.js',
  devtool: 'source-map',
    mode: 'development',
  module: {
    rules: [{
      test: /\.(ts|js)x?$/,
                exclude: /node_modules/,
                use: {
                    loader: 'babel-loader',
                    options: {
                        presets: [
                            "@babel/preset-env",
                            "@babel/preset-react",
                            "@babel/preset-typescript",
                        ]
                    },
                },
            },
      {
      test: /\.css$/,
      use: ['style-loader', 'css-loader']
    }]
  },
  output: {
    path: path.resolve(__dirname, './src/index'),
    filename: 'bundle.min.js'
  }
};